{% extends 'base.html' %}

{% block title %}后台首页{% endblock %}

<!-- 引入CSS样式 -->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/back_index.css') }}">
{% endblock %}

{% block main %}
<!-- 左侧固定小框 -->
<ul class="list-group">
    <li class="list-group-item"><a href="{{ url_for('back_index') }}">后台首页</a></li>
    <li class="list-group-item"><a href="{{ url_for('back_edit') }}">添加博文</a></li>
    <li class="list-group-item"><a href="{{ url_for('back_list') }}">博文列表</a></li>
</ul>

<!-- 右侧固定文本小框 -->
<div class="panel panel-default">
<div class="panel-body">
        <h3>这是后台首页</h3>
<!-- 动态文本小框 -->
<h3 class="page-title"></h3>
<form action="" method="post">
    <div class="form-container">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tatsumi动态" name="content" rows="10">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary ">提交</button>
        </div>
    </div>
</form>


</div>
</div>
{% endblock main %}